In [178]:
import numpy as np
import pandas as pd

In [179]:
df=pd.read_excel("data/train data.xlsx")
df

,机器编号,统一规范代码,机器质量等级,室温（K）,室温（K）.1,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
0,84,L48027,L,296.4,307.4,2833,5.6,213,1,PWF
1,6986,M15740,M,295.8,306.3,1235,76.2,89,1,PWF
2,8047,L48083,L,295.7,306.2,2270,14.6,149,1,PWF
3,4425,M15847,M,296.3,307.1,1534,33.8,151,0,Normal
4,4519,H30402,H,296.3,307.1,1774,25.9,154,0,Normal
...,...,...,...,...,...,...,...,...,...,...
8995,8680,M24855,M,298.8,308.4,1604,29.5,14,0,Normal
8996,194,H39410,H,298.9,308.4,1632,31.8,17,0,Normal
8997,7860,M24857,M,299.0,308.6,1645,33.4,22,0,Normal
8998,138,H39412,H,299.0,308.7,1408,48.5,25,0,Normal
8999,936,M24859,M,299.0,308.7,1500,40.2,30,0,Normal

In [180]:
df.rename(columns={'室温（K）':'工厂温度','室温（K）.1':'机器温度'},inplace=True)
df

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
0,84,L48027,L,296.4,307.4,2833,5.6,213,1,PWF
1,6986,M15740,M,295.8,306.3,1235,76.2,89,1,PWF
2,8047,L48083,L,295.7,306.2,2270,14.6,149,1,PWF
3,4425,M15847,M,296.3,307.1,1534,33.8,151,0,Normal
4,4519,H30402,H,296.3,307.1,1774,25.9,154,0,Normal
...,...,...,...,...,...,...,...,...,...,...
8995,8680,M24855,M,298.8,308.4,1604,29.5,14,0,Normal
8996,194,H39410,H,298.9,308.4,1632,31.8,17,0,Normal
8997,7860,M24857,M,299.0,308.6,1645,33.4,22,0,Normal
8998,138,H39412,H,299.0,308.7,1408,48.5,25,0,Normal
8999,936,M24859,M,299.0,308.7,1500,40.2,30,0,Normal

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   机器编号       9000 non-null   int64
 1   统一规范代码     9000 non-null   object
 2   机器质量等级     9000 non-null   object
 3   工厂温度       9000 non-null   float64
 4   机器温度       9000 non-null   float64
 5   转速（rpm）    9000 non-null   int64
 6   扭矩（Nm）     9000 non-null   float64
 7   使用时长（min）  9000 non-null   int64
 8   是否发生故障     9000 non-null   int64
 9   具体故障类别     9000 non-null   object
dtypes: float64(3), int64(4), object(3)
memory usage: 703.2+ KB

In [182]:
#查找重复值
bh=df.duplicated(['机器编号'],keep=False)
sf=df.duplicated(['统一规范代码'],keep=False)
sf.dtype

dtype('bool')

In [183]:
import collections
countp1=collections.Counter(bh)
countp2=collections.Counter(sf)
print(countp1,countp2)

Counter({True: 5619, False: 3381}) Counter({False: 9000})

In [184]:
#量化处理
dengji={'L':1,'M':2,'H':3}
df['机器质量等级']=df['机器质量等级'].map(dengji)
liebie={'Normal':0,'TWF':1,'HDF':2,'PWF':3,'OSF':4,'RNF':5}
df['具体故障类别']=df['具体故障类别'].map(liebie)
df.head()

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
0,84,L48027,1,296.4,307.4,2833,5.6,213,1,3
1,6986,M15740,2,295.8,306.3,1235,76.2,89,1,3
2,8047,L48083,1,295.7,306.2,2270,14.6,149,1,3
3,4425,M15847,2,296.3,307.1,1534,33.8,151,0,0
4,4519,H30402,3,296.3,307.1,1774,25.9,154,0,0

In [185]:
#查找异常值
df0=df[df['是否发生故障']==0]
df0.loc[df0['具体故障类别'].isin([1,2,3,4,5])]

Empty DataFrame
Columns: [机器编号, 统一规范代码, 机器质量等级, 工厂温度, 机器温度, 转速（rpm）, 扭矩（Nm）, 使用时长（min）, 是否发生故障, 具体故障类别]
Index: []

In [186]:
df0

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
3,4425,M15847,2,296.3,307.1,1534,33.8,151,0,0
4,4519,H30402,3,296.3,307.1,1774,25.9,154,0,0
5,1877,M15849,2,296.2,307.0,2119,18.3,159,0,0
6,6034,L48170,1,296.2,307.0,1414,48.3,162,0,0
7,5390,M15851,2,296.1,307.0,1523,42.0,164,0,0
...,...,...,...,...,...,...,...,...,...,...
8995,8680,M24855,2,298.8,308.4,1604,29.5,14,0,0
8996,194,H39410,3,298.9,308.4,1632,31.8,17,0,0
8997,7860,M24857,2,299.0,308.6,1645,33.4,22,0,0
8998,138,H39412,3,299.0,308.7,1408,48.5,25,0,0
8999,936,M24859,2,299.0,308.7,1500,40.2,30,0,0

In [187]:
#查找异常值
df1=df[df['是否发生故障']==1]
df1.loc[df1['具体故障类别']==0]

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
7506,7729,L55686,1,298.4,309.6,1710,27.3,163,1,0
8015,3433,L56195,1,297.2,308.1,1431,49.7,210,1,0

In [188]:
#删除异常值
data=df.drop(index=[7506,8015],axis=0)
data

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
0,84,L48027,1,296.4,307.4,2833,5.6,213,1,3
1,6986,M15740,2,295.8,306.3,1235,76.2,89,1,3
2,8047,L48083,1,295.7,306.2,2270,14.6,149,1,3
3,4425,M15847,2,296.3,307.1,1534,33.8,151,0,0
4,4519,H30402,3,296.3,307.1,1774,25.9,154,0,0
...,...,...,...,...,...,...,...,...,...,...
8995,8680,M24855,2,298.8,308.4,1604,29.5,14,0,0
8996,194,H39410,3,298.9,308.4,1632,31.8,17,0,0
8997,7860,M24857,2,299.0,308.6,1645,33.4,22,0,0
8998,138,H39412,3,299.0,308.7,1408,48.5,25,0,0
8999,936,M24859,2,299.0,308.7,1500,40.2,30,0,0

In [189]:
#筛选数据
df0=data[data['是否发生故障']==0]
df0

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
3,4425,M15847,2,296.3,307.1,1534,33.8,151,0,0
4,4519,H30402,3,296.3,307.1,1774,25.9,154,0,0
5,1877,M15849,2,296.2,307.0,2119,18.3,159,0,0
6,6034,L48170,1,296.2,307.0,1414,48.3,162,0,0
7,5390,M15851,2,296.1,307.0,1523,42.0,164,0,0
...,...,...,...,...,...,...,...,...,...,...
8995,8680,M24855,2,298.8,308.4,1604,29.5,14,0,0
8996,194,H39410,3,298.9,308.4,1632,31.8,17,0,0
8997,7860,M24857,2,299.0,308.6,1645,33.4,22,0,0
8998,138,H39412,3,299.0,308.7,1408,48.5,25,0,0
8999,936,M24859,2,299.0,308.7,1500,40.2,30,0,0

In [190]:
df1=data[data['是否发生故障']==1]
df1

,机器编号,统一规范代码,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
0,84,L48027,1,296.4,307.4,2833,5.6,213,1,3
1,6986,M15740,2,295.8,306.3,1235,76.2,89,1,3
2,8047,L48083,1,295.7,306.2,2270,14.6,149,1,3
32,6852,M15876,2,296.3,307.2,1319,68.3,24,1,3
101,6723,L48265,1,297.0,307.8,1385,56.4,202,1,4
...,...,...,...,...,...,...,...,...,...,...
8758,5212,L56938,1,298.6,309.8,2271,16.2,218,1,1
8764,6607,L56944,1,298.5,309.5,1294,66.7,12,1,3
8822,2704,L57002,1,298.5,309.4,1360,60.9,187,1,4
8830,3919,L57010,1,298.3,309.3,1337,56.1,206,1,4
8974,128,L57154,1,298.6,308.2,1361,68.2,172,1,4

In [191]:
df1_TWF=df1[df1['具体故障类别']==1]
df1_TWF.shape

(41, 10)

In [192]:
df1_HDF=df1[df1['具体故障类别']==2]
df1_HDF.shape

(95, 10)

In [193]:
df1_PWF=df1[df1['具体故障类别']==3]
df1_OSF=df1[df1['具体故障类别']==4]
df1_RNF=df1[df1['具体故障类别']==5]
print(df1_PWF.shape)
print(df1_OSF.shape)
print(df1_RNF.shape)

(74, 10)
(85, 10)
(6, 10)

In [195]:
data.to_excel('data/data.xlsx',index=False)

In [196]:
df0.to_excel('data/df0.xlsx',index=False)

In [197]:
df1.to_excel('data/df1.xlsx',index=False)
df1_TWF.to_excel('data/df1_TWF.xlsx',index=False)
df1_HDF.to_excel('data/df1_HDF.xlsx',index=False)
df1_PWF.to_excel('data/df1_PWF.xlsx',index=False)
df1_OSF.to_excel('data/df1_OSF.xlsx',index=False)
df1_RNF.to_excel('data/df1_RNF.xlsx',index=False)

In [198]:
df1.describe()

,机器编号,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.0,301.000000
mean,4302.212625,1.362126,301.110963,310.444518,1490.202658,50.449169,144.093023,1.0,2.734219
std,2710.642818,0.581745,1.971881,1.305914,379.644714,16.284738,73.186916,0.0,1.075078
min,48.000000,1.000000,295.700000,306.200000,1181.000000,3.800000,0.000000,1.0,1.000000
25%,1818.000000,1.000000,299.600000,309.800000,1325.000000,46.300000,81.000000,1.0,2.000000
50%,4187.000000,1.000000,301.700000,310.600000,1362.000000,53.700000,168.000000,1.0,3.000000
75%,6631.000000,2.000000,302.600000,311.300000,1416.000000,61.200000,207.000000,1.0,4.000000
max,9000.000000,3.000000,304.400000,313.700000,2886.000000,76.600000,253.000000,1.0,5.000000

In [199]:
df0.describe()

,机器编号,机器质量等级,工厂温度,机器温度,转速（rpm）,扭矩（Nm）,使用时长（min）,是否发生故障,具体故障类别
count,8697.000000,8697.000000,8697.000000,8697.000000,8697.000000,8697.000000,8697.000000,8697.0,8697.0
mean,4468.179257,1.503507,300.246717,310.176406,1540.884328,39.622812,106.610095,0.0,0.0
std,2594.771103,0.670730,1.887138,1.421293,168.321249,9.520060,62.900694,0.0,0.0
min,1.000000,1.000000,296.100000,307.000000,1168.000000,12.600000,0.000000,0.0,0.0
25%,2202.000000,1.000000,298.700000,309.100000,1429.000000,33.000000,52.000000,0.0,0.0
50%,4455.000000,1.000000,300.300000,310.300000,1507.000000,39.800000,106.000000,0.0,0.0
75%,6720.000000,2.000000,301.700000,311.200000,1615.000000,46.300000,160.000000,0.0,0.0
max,9000.000000,3.000000,304.500000,313.800000,2695.000000,70.000000,246.000000,0.0,0.0